@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
}

/* h1 {
  font-weight: bold;
  font-size:xx-large
} */

::-webkit-scrollbar-thumb {
  background-color: lightgray;
}

::-webkit-scrollbar {
  width: 1px
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
